// STYLES FOR HEADER COMPONENT
@use "./_variables.sass" as var

.top-content
	padding: 30px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	color: light-dark(var.$light-primary-text-color, var.$dark-primary-text-color)
	background: light-dark(var.$light-secondary-background-color, var.$dark-secondary-background-color)

	&__title
		display: flex
		color: inherit
		text-decoration: none
		align-items: flex-end

		&-logo
			width: 50px
			height: 50px
			padding-bottom: 3px

		&-span
			font-size: 24px
			font-weight: 700

	&__navigation
		display: flex
		align-items: flex-end
		gap: 20px

		&-redirect
			color: inherit
			font-weight: 700
			text-decoration: none
			border-bottom: 2px solid transparent

			&:hover, &:active
				border-bottom: 2px solid light-dark(var.$light-primary-text-color, var.$dark-primary-text-color)

			.active
				color: light-dark(var.$light-secondary-text-color, var.$dark-secondary-text-color)
