// STYLES FOR IMAGE PAGE
@use "./_variables.sass" as var

.image-content

	&__image
		width: 100%
		border: 5px solid black

		&-list
			gap: 30px
			display: grid
			align-items: center
			flex-direction: column
			justify-content: center

		&-holder
			max-width: 600px

		&-context
			padding: 10px 0
