// STYLES FOR IMAGE PAGE
@use "./_variables.sass" as var

.image-content

	&__image
		width: 100%

		&-list
			gap: 25px
			padding: 25px
			display: grid
			align-items: center
			justify-items: center
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))

		&-holder
			width: 30dvw
			min-width: 250px
			max-width: 300px

		&-context
			padding: 10px 0
			text-align: center

			&:empty
				display: none

		&-item
			padding: 5px
			width: fit-content
			border: 5px solid light-dark(var.$light-primary-text-color, var.$dark-primary-text-color)
