.image-content

	&__image-list
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		gap: 30px

	&__image-holder
		max-width: 600px

	&__image
		width: 100%
		border: 5px solid black

	&__image-context
		padding: 10px 0
