// BROWSER RESETS
@use "./_variables.sass" as var

*
	margin: 0
	padding: 0
	box-sizing: border-box
	font-family: sans-serif
	transition: background 0.4s, color 0.4s, border-bottom 0.4s, transform 0.4s

body
	gap: 25px
	display: flex
	width: 100dvw
	min-height: 100dvh
	flex-direction: column
	overflow: hidden scroll
	justify-content: space-between
	background: light-dark(var.$light-primary-background-color, var.$dark-primary-background-color)

	&.dark
		color-scheme: dark

ul, ol
	list-style-type: none
