// BROWSER RESETS

*
	margin: 0
	padding: 0
	font-family: sans-serif
	box-sizing: border-box

body
	gap: 25px
	display: flex
	padding: 25px
	width: 100dvw
	min-height: 100dvh
	flex-direction: column
	overflow: hidden scroll
	justify-content: space-between

ul, ol
	list-style-type: none
