$dark-primary-background-color: #1f1f1f
$dark-secondary-background-color: #151515
$dark-primary-text-color: #ffffff
$dark-secondary-text-color: #8a8a8a

$light-primary-background-color: #ffffff
$light-secondary-background-color: #fbfbfb
$light-primary-text-color: #1f1f1f
$light-secondary-text-color: #6c6c6c
